@import '../../theme.scss';

.tz-project-card {
    &.success {
        background-color: #F0FCF6;

        .tz-project-card-title {
            color: #171725;
        }
    }

    &.warning {
        background-color: $tertiary;

        .tz-project-card-title {
            color: $warning;
        }
    }

    &.ok {
        background-color: white;

        .tz-project-card-title {
            color: $primary;
        }
    }

    .tz-account-image {
        width: 30px;
        height: 30px;
    }

    .tz-time-remaining {
        font-size: 1em;

        &.danger {
            background-color: lighten(#FC5A5A, 20%);
            color: $danger;

            .tz-icon {
                filter: invert(57%) sepia(59%) saturate(1792%) hue-rotate(321deg) brightness(100%) contrast(102%);
            }
        }

        &.warning {
            background-color: #FF974A;
            color: $warning;

            .tz-icon {
                filter: invert(57%) sepia(59%) saturate(1792%) hue-rotate(321deg) brightness(100%) contrast(102%);
            }
        }

        &.ok {
            background-color: #F1F1F5;
            color: $color-grey;
        }
    }
}