@import "../../theme.scss";

.tz-nav-card {
    background-color: $card-bg-color;
    border-radius: $card-border-radius;
    padding: map-get($map: $spacers, $key: 4) map-get($map: $spacers, $key: 4) map-get($map: $spacers, $key: 4);

    .tz-nav-card-header {
        font-size: larger;
        font-weight: 600;
        padding-bottom: map-get($map: $spacers, $key: 2);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        a {
            font-size: smaller;
            text-decoration: none;
        }
    }

    .tz-nav-card-body {
        display: flex;

        & > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}
