.tz-todo-list-item {
    .tz-todo-list-item-number {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tz-todo-list-item-title {

    }
}