@import "../../theme.scss";
@import "react-calendar/dist/Calendar.css";

#calendarMenu {

    .calendar-nav {
        & button {
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            font-size: larger;
            margin-right: .3rem;


            &:last-child {
                padding: .65rem;
                font-size: smaller;
            }
        }
    }

    .indicator {
        width: 10px;
        height: 10px;
    }

    .tz-today {
        background: $tertiary;

        p {
            font-size: smaller;
        }
    }

    .nav-item {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    .nav-link {
        font-weight: 600;

        img {
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
    }

    .react-calendar {
        border: none;
    }

    .react-calendar__month-view__weekdays__weekday abbr {
        text-decoration: none;
        color: $color-grey;
    }

    .react-calendar__tile {
        color: $color-grey;
        border-radius: 75%;
        font-weight: 300;
    }

    .react-calendar__tile--now {
        background-color: $secondary;
    }
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    #calendarMenu {
        .nav-link {
            img {
                margin: 0;
            }

            span {
                display: none;
            }
        }
    }
}
