@import "../../theme.scss";

.tz-icon {
    height: 1em;
    width: 1em;
}

.text-warning {
    .tz-icon {
        filter: $warning-filter;
    }
}

.text-white {
    .tz-icon {
        filter: $white-filter;
    }
}