@import '../../theme.scss';

.tz-contact {

    &.unread {
        background-color: lighten($info, 45%) !important;
    }

    &.selected {
        background-color: lighten($info, 20%) !important;
        
        & * {
            color: white !important;
        }
    }

    .tz-contact-image {
        width: 3em;
        height: 3em;
    }
}