@import '../../theme.scss';

$contacts-width: 350px;

#messages {
    .tz-contacts-list {
        position: fixed;
        top: 0;
        padding-top: 70px;
        bottom: 0;
        width: $contacts-width;
        overflow-y: scroll;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        margin-left: -1rem;

        input {
            background: $body-bg;
            border: none;
        }

        .input-group-text {
            border: none;
            background-color: $body-bg;
        }

        .tz-contact-container:last-child {
            border-bottom: none !important;
        }
    }

    .tz-messages-list {
        margin-top: -1rem;
        margin-right: -1rem;
        background: $body-bg;
        padding-left: $contacts-width;
        margin-left: -1rem;
        padding-bottom: 60px;
        flex-grow: 1;


        @media (max-width: 575.98px) {
            padding-left: 0;
        }

        .tz-account-image {
            width: 30px;
            height:30px;
        }
    }

    .tz-messages-send {
        position: fixed;
        right: 0;
        left: calc(#{$nav-bar-size + $contacts-width});

        @media (max-width: 575.98px) {
            left: $nav-bar-size-small;
        }

        @media (max-width: 767.98px) and (min-width: 575.98px) {
            left: calc(#{$nav-bar-size-small + $contacts-width});
        }

        > img:first-of-type {
            width: 30px;
            height:30px;
        }
    }
}