@import "../../theme.scss";

header.navbar {
    flex-wrap: nowrap;
    height: $header-height;

    .navbar-brand {
        font-weight: 600;
        width: $nav-width;
        padding-left: 15px;
    }

    .navbar-toggler {
        top: 0.25rem;
        right: 1rem;
    }

    input.form-control {
        width: 350px;
        font-size: small;
    }
}

@media (max-width: 767.98px) {
    header.navbar {
        .navbar-brand {
            width: $nav-width-mobile;
            padding-left: 10px;

            span {
                display: none;;
            }
        }

        input.form-control {
            flex-grow: 1;
            margin: 0 15px;
        }
    }
}
