@import "../../theme.scss";

.sidebar {
    display: flex;
    flex-shrink: 0;

    .position-sticky {
        align-self: flex-start;
        top: 75px;
    }
}

#sidebarMenu {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;

    .nav-item {
        &:first-child {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    }

    .nav-link {
        img {
            width: 20px;
            height: 20px;
        }
    }

    .tz-account {
        img {
            width: 30px;
            height: 30px;
        }
    }

    #apps {
        img {
            width: 30px;
            height: 30px;
        }
    }
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    #sidebarMenu {
        padding-right: map-get($map: $spacers, $key: 1) !important;
        padding-left: map-get($map: $spacers, $key: 1) !important;
        justify-content: center;

        .tz-account {
            padding-left: .5em !important;
            padding-right: .5em !important;
            justify-content: center !important;
        }

        .nav-item {
            padding-right: 0 !important;

            .nav-link {
                .tz-icon {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                span {
                    display: none;
                }
            }
        }
    }
}
