@import '../../theme.scss';

.tz-assignment {

    .tz-assignment-icon {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border-radius: 2rem;

        img {
            filter: $white-filter;
        }
    }

    .tz-icon {
        margin-right: 2px
    }

    .indicator {
        width: 1em;
        height: 1em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        margin-right: 5px;
    }
}