@import './theme.scss';
@import './overrides.scss';

html, body, #root, .App > div {
    height: 100%;
}

/*  TODO: Name this something meaningful. Router? */
.App > div {
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex-grow: 1;
    height: 100%;
}

main {
    flex-grow: 1;
    padding: 1em map-get($map: $spacers, $key: 3);
}


@media (max-width: 767.98px) {
}